@model IEnumerable<MVCAgeCheck.Dtos.LoginDto>

@{
    ViewBag.Title = "Lockout";
    Layout = "_Layout";
}


<!DOCTYPE html>
<html>
<body>
    <p class="title">Lockout</p>
    <p class="error">You have made too many login attempts. Please wait one hour before trying again.</p>
    <button class="home-button" onclick="location.href='@Url.Action("Index", "User")'">Return To Login</button>
</body>
</html>