@model IEnumerable<MVCAgeCheck.Dtos.LoginDto>

@{
    ViewBag.Title = "Age Verification Error";
    Layout = "_Layout";
}


<!DOCTYPE html>
<html>
<body>
    <p class="title">Age Verification Error</p>
    <p class="error">Only those aged 18+ may continue.</p>
</body>
</html>