<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MVC Age Check</title>
    <link rel="stylesheet" href="~/css/Main.css" />
</head>
<body>
    <div class="page-container">
        <div>
            <p class="title">MVC Age Check</p>
            <img src="~/images/AgeMatchIcon.jpg" class="age-icon" />
        </div>
        <div class="container">
            @RenderBody()
            <hr />
            <footer>
                <p>@DateTime.Now.Year - MVC Age Check Application</p>
            </footer>
        </div>
    </div>
</body>
</html>